<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boom1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{126,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>boom2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{116,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{116,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boom.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c49ef92f6f514b6c0b83924023022ed7$</string>
            <key>textureFileName</key>
            <string>boom.png</string>
        </dict>
    </dict>
</plist>
