<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,2},{115,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,94}}</string>
                <key>sourceSize</key>
                <string>{115,94}</string>
            </dict>
            <key>c_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{75,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,80}}</string>
                <key>sourceSize</key>
                <string>{75,80}</string>
            </dict>
            <key>food_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{95,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,104}}</string>
                <key>sourceSize</key>
                <string>{95,104}</string>
            </dict>
            <key>food_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,301},{93,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,87}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>food_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,98},{99,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,112}}</string>
                <key>sourceSize</key>
                <string>{99,112}</string>
            </dict>
            <key>food_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,208},{99,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,91}}</string>
                <key>sourceSize</key>
                <string>{99,91}</string>
            </dict>
            <key>food_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,168},{86,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,102}}</string>
                <key>sourceSize</key>
                <string>{86,102}</string>
            </dict>
            <key>food_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,109},{106,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,57}}</string>
                <key>sourceSize</key>
                <string>{106,57}</string>
            </dict>
            <key>food_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,238},{83,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,98}}</string>
                <key>sourceSize</key>
                <string>{83,98}</string>
            </dict>
            <key>food_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,109},{66,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,97}}</string>
                <key>sourceSize</key>
                <string>{66,97}</string>
            </dict>
            <key>food_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,165},{71,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,81}}</string>
                <key>sourceSize</key>
                <string>{71,81}</string>
            </dict>
            <key>food_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>guo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,57}}</string>
                <key>sourceSize</key>
                <string>{180,57}</string>
            </dict>
            <key>hongbao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>hongbao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,199},{100,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,105}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>hongbao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{105,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,129}}</string>
                <key>sourceSize</key>
                <string>{105,129}</string>
            </dict>
            <key>m_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,84},{75,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,79}}</string>
                <key>sourceSize</key>
                <string>{75,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>items.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be3fb5f2737ffd88114d44173effc47a$</string>
            <key>textureFileName</key>
            <string>items.png</string>
        </dict>
    </dict>
</plist>
